@import "mixins";

nav {
    @include defaultFlexBetween;
    padding: 15px 25px 15px 25px;

    .navLogo {
        a {
            font-size: 24px;
            color: map-get($map: $colors, $key: "downOrange");
        }

    }

    a {
        color: map-get($map: $colors, $key: "black");
        text-decoration: none;
    }

    .navWrapper {
        @include defaultFlexCenter;
        width: 80%;
        font-size: 15px;


        ul {
            @include defaultFlexEnd;
            width: 80%;
            gap: 30px;
            padding: 0px 30px 0px 0px;

            li {
                list-style: none;
            }
        }

        .quote {
            background-color: map-get($map: $colors, $key: "downOrange");
            padding: 20px 30px 20px 30px;
            min-width: 20%;
            @include defaultFlexCenter;

        }
    }
}